body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background:linear-gradient(to bottom right, #dfaaffa0 , #40ff63a0); 
    background-repeat: repeat;
    margin-top: 0%;
    margin-bottom: 50%;
    background-color: green;
    
}

#login{
    margin-top: 50%;
    padding: 10px;
    border-radius: 5px;
    background-color: #7b2bff7c;
    border-color: black;
    border: 2px solid;
    position: absolute;
    
    
}
#sec{
    position: relative;
    font-family: initial;
    color: whitesmoke;
    font-size: 60px;
    
            text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
            margin-top: 50px;
         
    
}
#name{
    border: 2px solid;
    margin: 5px;
    padding: 2px;
    font-size: 20px;
}
p{
    font-size: 20px;
    
}

#password{
    border: 2px solid;
    margin: 5px;
    padding: 2px;
    font-size: 20px;
}
#button{
    
}

#topbar{position: absolute;
        margin: 0px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
}
#topbar a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
.con{
    margin: 0px;
    display: inline-block;
    flex-direction: column;
    cursor: pointer;
    
}

.b1, .b2, .b3{
    
    background-color: white;
    width: 35px;
    height: 5px;
    transition: 0.4s;
    
}